{% extends 'base.html' %}

{% block content %}
  <div class="scrollable">
    <ul class="list-group">
      {% for order in orders %}
      <li class="list-group-item">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <h5 class="mb-0">{{ order['Consumer'] }}, {{ order['Product name'] }}</h5>
            <small class="text-muted">{{ order['Order Time'] }},{{ order['Address'] }},{{ order['Quantity'] }}</small>
          </div>
          <span class="badge badge-primary badge-pill"> {{ order['Price'] }}</span>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
