{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Welcome To COMS 4111 Ecomerce Shop{% endblock %}</h1>
  {% if g.user %}
  <p> Hello</p>
  {% else%}
  <p> Please login if you would like to access some of the features</p>
  {% endif %}
{% endblock %}

{% block content %}
 <!-- {% for post in posts %}
  
    Must be edited using a template from flask site here 
    --->  
    <!--
      I am thinking just have a welocme message and a hyperlink to the html file that their account is linked too 

    -->
  <!--<article class="post">
      <header>
        <div>
          <h1>{{ post['title'] }}</h1>
          <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == post['author_id'] %}
          <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
        {% endif %}
      </header>
      <p class="body">{{ post['body'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}-->
{% endblock %}