{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Welcome To COMS 4111 Ecomerce Shop{% endblock %}</h1>
  {% if g.user %}
  <p> Hello </p>
  {% else%}
  <p> Please login if you would like to access some of the features</p>
  {% endif %}
{% endblock %}

{% block content %}
    {% if g.user['account_type'] == 'admin' %}
    <p>You must have entered a page you do not have access to please access this link below </p>
    <li><a href="{{ url_for('admin') }}">Admin page</a></li>
    {% elif g.user['account_type'] == 'consumer' %}
    <p>You must have entered a page you do not have access to please access this link below </p>
    <li><a href="{{ url_for('consumer') }}">Consumer page</a></li>
    {% elif g.user['account_type'] == 'seller' %}
    <p>You must have entered a page you do not have access to please access this link below </p>
    <li><a href="{{ url_for('seller') }}">Seller page</a></li>
    {% else %}
    <p>To login/register access the through links above</p>
    {% endif %}

    <div class="scrollable">
      <ul class="list-group">
        <p><strong style="font-size: 20px;">Top 10 most popular products below!!!</strong></p>
        {% for product in prods %}
        <li class="list-group-item">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <h5 class="mb-0">{{ product['Name'] }}</h5>
              <small class="text-muted">{{ product['Category'] }},In stock:{{ product['Quantity'] }}</small> 
              <p> {{ product['Description'] }} </p>
            </div>
            <span class="badge badge-primary badge-pill"> {{ product['Price'] }}</span>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
{% endblock %}