{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <!---->
    <label for="account type">Select you account type:</label>
      <select id = "account" name ="account" required>
        <option value="" disabled selected>Select an option</option>  
        <option value="consumer" >Consumer</option>  
        <option value="seller">Seller </option>  
      </select>
     <!---->
      <input type="submit" value="Register">
  </form>
{% endblock %}