{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <!---->
    <label for="account type">Select you account type:</label>
    <form action="/submit" method="POST">
      <nav>
        <ul>
          <li><a href="Consumer">Consumer Account</a></li>
          <li><a href="Seller">Seller Account</a></li>
        </ul>
      </nav>
     <!---->
      <input type="submit" value="Register">
  </form>
{% endblock %}